body {
    background-color:#fbd139;
} 

h1 {
    color:rgb(38, 0, 255);
    background-color: cornsilk;
}
#show_sketch {
    float:right;
}

p {
    padding-top:10px;
    font-size:25px;
}

canvas{
    border: 5px solid aquamarine;
    border-radius: 30px;
    margin-top: 40px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 10px 10px 50px grey;
    }
    to {
        box-shadow: 10px 10px 50px white;
    }
}